.header {
	overflow: hidden;
	height: 75vh;
	background-color: purple;
	position: relative;
	font-family: "pinkblue";
	display: block;
}

.footer {
	height: 25vh;
	background-color: purple;
}

body {
	margin: 0;
	padding: 0;
	font-family: "pinkblue";
}

.title {

}

.keyClub {
	background-color: #003366;
}

.hourTrack {

}

@media only screen and (max-width: 450px) {
	#sum {
		font-family: Georgia;
		font-size: 5rem;
		text-align: center
	}
}

#titleName {
	opacity: 0.25;
	word-wrap: break-word;
	font-size: 8rem;
	margin: 0;
	position: absolute;
	transform: rotate(-90deg);
    transform-origin: 100% 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.fa-caret-down {
	opacity: 0.25;
	font-size: 5rem;
	word-wrap: break-word;
	margin: 0;
	position: absolute;
	transform: rotate(-90deg);
    transform-origin: 100% 0;
	top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.active {
	font-size: 1.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 2px;
	color: white;
	border-color: white;
}

.links {
	float: right;
	margin-right: 2rem;
	margin-top: 1.5rem;
	font-size: 1.0rem;
}

.links a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-weight: 100;
	text-decoration: none;
	color: white;
}

.topnav {
	display: block;
	position: fixed;
	top: 0; left: 0; right: 0;
	width: 100%;
}

.content {
	height: 25vh;
	display: flex;
	flex-direction: row;
	background-color: purple;
}

.project {
	display: flex;
	position: relative;
	height: 25vh;
	width: 100%;
	background-color: magenta;
	overflow: auto;
}

#flyright {
	background-color: blue;
	max-width: 33.33%
	margin-left: 0rem;
	margin-right: 0rem;
}

#foosball {
	background-color: green;
	max-width: 33.33%
	margin-left: 0rem;
	margin-right: 0rem;
}

#historybowl {
	background-color: yellow;
	max-width: 33.33%;
	margin-left: 0rem;
	margin-right: 0rem;
}

@font-face {
	font-family: pinkblueimport;
	src: url(assets/pinkblue.ttf);
}
